@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: linear-gradient(to right bottom, rgb(58, 58, 58), rgb(75, 75, 75));
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#stitulo{
    color: rgba(255, 255, 255, 0.863);
    font-size: 6em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.400);
    transition: .8s;
}
#stitulo:hover{
    color: rgba(255, 255, 255, 0.863);
    font-size: 6em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.800);
    cursor: pointer;
    transition: .4s;
}
main{
    background-color: gray;

    width: 80%;
    height: 50%;

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.329);
    border-radius: 3px;

    transition: 1s;

    border: 5px solid rgba(255, 255, 255, 0.3);
}
#mainbutton{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    width: 20%;
    height: 10%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);

    background-color: gray;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;

    transition: 0.8s;
}
#mainbutton > p{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}
#mainbutton:hover{
    background-color: rgb(156, 156, 156);
    cursor: pointer;
    transition: 0.4s;
}
#git{
    margin-top: 20px;
}
#git > img{
    padding: 2px;
    width: 50px;
    height: 50px;
    filter: invert();
    transition: 0.8s;
}
#git > img:hover{
    padding: 0px;
    transition: 0.8s;
}